.Navbar
{


margin-left: 5px;
margin-top: 5px;
border: none;
 
 

}
.nav-tabs{
    background-color:white;
    border: none;
    margin-left:100px;
    padding: left 50px;
    
}  


.BlogContainer
{

    margin-left: 400px;
    margin-top:200px;

}
aside
{
    float :right;
    margin-top: -450px;
    margin-right:200px;
    
}